@CHARSET "UTF-8";

fieldset {
	padding: 1em;
	font: 80% sans-serif;
}

legend {
	font-weight: bold;
	color: #336699;
}

label {
	display: inline-block;
	display: inline;
	zoom: 1;
	float: left;
	padding-top: 5px;
	text-align: right;
	width: 140px;
	font-weight: bold;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-left: 20px;
}

h2 {
	color: #336699;
}

input[type='submit'] {
	float: left;
	margin-left: 200px;
	margin-top: 25px;
	padding-top: .2em;
	text-align: right;
	font-weight: bold;
}

select {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-left: 20px;
}

#form {
	width: 60%;
}

.message {
	color: green;
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}